/* @import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css); */

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

* {
  padding: 0px auto;
  margin: 0;
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 4514px;
  top: -2378px;
  left: 1607px;
  gap: 0px;
  opacity: 0px;
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.none {
  display: none;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.burger {
  display: none;
}

.header {
  box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}


img {
  display: block;
}


.container {
  max-width: 100%;/*1599*/
  height: 4514px;
  top: -2378px;
  left: 1607px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  display: flex;
}

.header-top {
  width: 80%;
  height: 142px;
  top: 30px;
  left: 200px;
  gap: 0px;
  margin: 0 auto;
  position: absolute;
  display: flex;
}
.logo {
  width: 73.2px;
  height: 105px;
}

.text {
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.01px;
  text-align: left;
}

.menu-list {
  width: 50%;
  height: 27px;
  top: 57px;
  left: 26%;
  gap: 65px;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  display: flex;
}

.nav-Black {
  width: 50px;
  height: 27px;
  gap: 0px;
  opacity: 0px;
}

.nav-Green {
  width: 58px;
  height: 27px;
  gap: 0px;
  opacity: 0px;
}

.nav-White {
  width: 54px;
  height: 27px;
  gap: 0px;
  opacity: 0px;
}

.nav-Oolong {
  width: 69px;
  height: 27px;
  gap: 0px;
  opacity: 0px;
}

.nav-Puer {
  width: 64px;
  height: 27px;
  gap: 0px;
  opacity: 0px;
}

.data {
  width: 15%;
  height: 29px;
  left: 85%;
  top: 56px;
  gap: 100px;
  opacity: 0px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}

.account-none {
  width: 30%;
  height: 29px;
  gap: 20px;
  opacity: 0px;
  display: flex;
}
.shop {
  width: 20px;
  height: 22px;
  gap: 0px;
  opacity: 0px;
}
.profile {
  width: 18px;
  height: 22px;
  gap: 0px;
  opacity: 0px;
}
.search {
  width: 10%;
  height: 22px;
  gap: 0px;
  opacity: 0px;
}

.text-align {
  width: 100%;
  height: 500px;
  top: 200px;
  gap: 0px;
  opacity: 0px;
  background-image: url(/images/Group92.svg);
  font-family: "Cormorant", serif;
  position: absolute;
  display:grid;
  background-size: cover;
}
h1 {
  width: 60%;
  height: 120px;
  top: 454px;
  left: 199.88px;
  gap: 0px;
  opacity: 0px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: white;
  margin: 253px 0 0 200px;
}
.text-align2 {
  width: 40%;
  height: 58px;
  top: 594px;
  left: 199.88px;
  gap: 0px;
  opacity: 0px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  margin: -21px 0 0 200px;
}
.blockquote {
  width: 47%;
  height: 96px;
  top: 850px;
  left: 30%;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: 48.44px;
  text-align: center;
  position: absolute;
  display: flex;

}

.explore {
  width: 80%;
  height: 355px;
  top: 1096px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  margin: 0 auto;
  display: grid;
}
.reviews1 {
  width: 369px;
  height: 48px;
  top: 1096px;
  left: 621px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  position: center;
  margin: 0 auto;
}

.tea {
  width: 100%;
  height: 247px;
  top: 50px;
  left: -3px;
  gap: 40px;
  opacity: 0px;
  display: flex;
  margin: 0 auto;
  position: absolute;
	justify-content: space-evenly;
}

.text-tea {
  height: 29px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: center;
  margin: 68px 0px 0px 0px;
}
.testimonials {
  width: 100%;
  height: 397px;
  top: 1601px;
  gap: 0px;
  opacity: 0.5px;
  background: #F7F2EA;
  position: absolute;
  margin: 0 auto;
  display: grid;
}
.reviews {
  width: 329px;
  height: 48px;
  top: 60px;
  left: 45%;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  margin: 0 auto;
  position: absolute;
}
.frame {
  width: 81%;
  height: 169px;
  top: 45%;
  left: 13%;
  gap: 26px;
  opacity: 0px;
  display: flex;
  /* margin: 130px 0px 0px 180px; */
  position: absolute;
}
.frame-item {
  width: 280px;
  height: 169px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column
}
.frame-item2 {
  width: 280px;
  height: 103px;
  gap: 10px;
  opacity: 0px;
  display: flex;
	position: absolute;
	left: 25%;
  flex-direction: column
}
.frame-item3 {
  width: 280px;
  height: 125px;
  gap: 10px;
  opacity: 0px;
  display: flex;
	position: absolute;
	left: 51%;
  flex-direction: column
}
.frame-item4 {
  width: 280px;
  height: 147px;
	left: 76%;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
	position: absolute;
}
.comment1 {
  width: 280px;
  height: 132px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
}
.comment2 {
  width: 280px;
  height: 66px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
}
.comment3 {
  width: 280px;
  height: 88px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
}
.comment4 {
  width: 280px;
  height: 110px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
}

.name {
  width: 280px;
  height: 27px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
}

.Blog {
  width: 77%;
  height: 619px;
  top: 2148px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  margin: 0 auto;
  display: grid;

}
.title {
  width: 20%;
  height: 48px;
  top: 2148px;
  left: 670px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48.44px;
  color: black;
  margin: 0 auto;;
}
.cards1 {
  width: 47%;
  height: 180px;
  top: 108px;
  left: -2px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}
#table {
  width: 270px;
  height: 180px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  position: absolute;
  display: flex;
}
.text-blog1 {
  width: 252px;
  height: 86px;
  left: 290px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  position: absolute;
}
.parent1 {
  width: 118px;
  height: 18px;
  top: 96px;
  left: 290px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  position: absolute;
}
.frame1 {
  width: 43px;
  height: 18px;
  top: 162px;
  left: 290px;
  gap: 8px;
  opacity: 0px;
  position: absolute;
  display: flex;
  margin: 0 auto;
}
.Read {
  width: 30px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
}

.cards2 {
  width: 47%;
  height: 180px;
  top: 328px;
  left: -2px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}
#book2 {
  width: 270px;
  height: 180px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  position: absolute;
  display: flex;
}
.parent2 {
  width: 169px;
  height: 18px;
  top: 96px;
  left: 290px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  position: absolute;
}

.cards3 {
  width: 47%;
  height: 180px;
  top: 108px;
  left: 52%;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}
#photo3 {
  width: 270px;
  height: 180px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  position: absolute;
  display: flex;
}
.parent3 {
  width: 47px;
  height: 18px;
  top: 96px;
  left: 290px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  position: absolute;
}

.cards4 {
  width: 47%;
  height: 180px;
  top: 328px;
  left: 52%;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}
#kettle4 {
  width: 270px;
  height: 180px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  position: absolute;
  display: flex;
}
.parent4 {
  width: 118px;
  height: 18px;
  top: 96px;
  left: 290px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  position: absolute;
}

.knopka1 {
  width: 149px;
  height: 51px;
  top: 568px;
  left: 45%;
  padding: 11px 40px 11px 40px;
  gap: 10px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.24px;
  text-align: left;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  grid-column: span 2;
  position: absolute;
} 

.main_page {
  width: 100%;
  height: 418px;
  top: 2917px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.main-title {
  width: 100%;
  height: 418px;
  gap: 0px;
  opacity: 0px;
  background: #F7F2EA;
}
.text-main {
  width: 326px;
  height: 48px;
  top: 100px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  position: absolute;
}
.main_content {
  width: 40%;
  height: 120px;
  top: 198px;
  left: 200px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  position: absolute;
}

.confidentiality {
  width: 40%;
  height: 117px;
  top: 252px;
  left: 55%;
  gap: 0px;
  opacity: 0px;
  position: absolute;

}
#email {
  width: 161px;
  height: 30px;
  top: -30px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  position: absolute;
  background: #F7F2EA;
}
.knopka2 {
  width: 116px;
  height: 51px;
  top: -55px;
  left: 464px;
  padding: 12px 41px 12px 41px;
  gap: 10px;
  border: 1px solid black;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.24px;
  text-align: left;
  position: absolute;
  background-color: white;
}
.line5 {
  width: 439px;
  height: 0px;
  top: 249.04px;
  left: 820px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #B8B58B;
  display: flex;
}
.confidentiality1 {
  width: 560px;
  height: 54px;
  top: 10px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  position: absolute;
}
.tea1 {
  width: 50%;
  height: 418px;
  top: 0px;
  left: 50%;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.prioriti {
  width: 80%;
  height: 286px;
  top: 3493px;
  left: 13%;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  display: grid;
  margin: 0 auto;
}
.prioriti1 {
  width: 207px;
  height: 47.96px;
  top: -7px;
  left: 40%;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  position: absolute;
  display: flex;
}
.frame-prioriti1 {
  width: 1199px;
  height: 178px;
  top: 100px;
  left: 0px;
  gap: 49px;
  opacity: 0px;
  position: absolute;
  display: flex;
}
.group1 {
  width: 248px;
  height: 178px;
  gap: 0px;
  opacity: 0px;
}
.group-tea1 {
  width: 248px;
  height: 41px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40.85px;
  text-align: left;
  position: absolute;
}
.group-tea11 {
  width: 227px;
  height: 27px;
  top: 51.03px;
  left: 11px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  position: absolute;
}
.vector1 {
  width: 60px;
  height: 60px;
  top: 118px;
  left: 102px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.group2 {
  width: 257px;
  height: 178px;
  gap: 0px;
  opacity: 0px;
}
.group-tea2 {
  width: 257px;
  height: 41px;
  left: 297px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40.85px;
  text-align: left;
  position: absolute;
}
.group-tea22 {
  width: 242px;
  height: 27px;
  top: 51.03px;
  left: 308px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  position: absolute;
}
.vector2 {
  width: 60px;
  height: 60px;
  top: 118px;
  left: 405px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.group3 {
  width: 294px;
  height: 170px;
  gap: 0px;
  opacity: 0px;
}
.group-tea3 {
  width: 248px;
  height: 41px;
  left: 626px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40.85px;
  text-align: left;
  position: absolute;
}
.group-tea33 {
  width: 294px;
  height: 27px;
  top: 50.92px;
  left: 603px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  position: absolute;
}
.vector3 {
  width: 60px;
  height: 60px;
  top: 110px;
  left: 729px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.group4 {
  width: 253px;
  height: 172.98px;
  gap: 0px;
  opacity: 0px;
}
.group-tea4 {
  width: 178px;
  height: 41px;
  left: 984px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40.85px;
  text-align: left;
  position: absolute;
}
.group-tea44 {
  width: 253px;
  height: 27px;
  top: 50.99px;
  left: 946px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  position: absolute;
}
.vector4 {
  width: 60px;
  height: 60px;
  top: 112.98px;
  left: 1054px;
  gap: 0px;
  border: 4.17px 0px 0px 0px;
  opacity: 0px;
  position: absolute;
}

.rectangle92 {
  width: 21%;
  height: 46px;
  top: 900px;
  left: 56%;
  gap: 0px;
  opacity: 0.5px;
  background: #F7F2EA;
  position: absolute;
}

footer {
  width: 100%;
  height: 593px;
  top: 3921px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  display: flex;
  background: #F7F2EA;
}
.bottom-cotacts {
  width: 270px;
  height: 287px;
  top: 100px;
  left: 78%;
  gap: 0px;
  opacity: 0px;
  display: grid;
  position: absolute;
}
.logo1 {
  width: 57px;
  height: 91px;
  top: 130px;
  left: 0px;
  gap: 0px;
  opacity: 0px;
  display: grid;
  position: absolute;
}
#logotype1 {
  width: 55px;
  height: 72px;
  left: 1.62px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.text-logo {
  width: 57px;
  height: 18px;
  top: 73px;
  gap: 0px;
  opacity: 0px;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.bottom1 {
  width: 131px;
  height: 29px;
  top: 0px;
  left: -2px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  display: flex;
  position: absolute;
}
.bottom11 {
  width: 270px;
  height: 36px;
  top: 80px;
  left: -2px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  display: flex;
  position: absolute;
}

.con1 {
  width: 136px;
  height: 60px;
  top: 155px;
  left: 94px;
  gap: 20px;
  opacity: 0px;
  display: grid;
  position: absolute;
}
.mail{
  width: 136px;
  height: 18px;
  gap: 10px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
}

.telephone {
  width: 135.81px;
  height: 20.81px;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  display: flex;
}

.social {
  width: 150px;
  height: 22px;
  top: 266px;
  left: 94px;
  gap: 20px;
  opacity: 0px;
  display: flex;
  position: absolute;
}

.bottom-other {
  width: 466px;
  height: 22px;
  top: 553px;
  left: 13%;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.tealuxe {
  width: 118px;
  height: 22px;
  top: px;
  left: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
  position: absolute;
}
.payment {
  width: 156px;
  height: 20px;
  top: -1px;
  left: 310px;
  gap: 20px;
  opacity: 0px;
  position: absolute;
}

.bottom-quatation {
  width: 269px;
  height: 162px;
  top: 179px;
  left: 55%;
  position: absolute;
}
.blockquote1 {
  width: 269px;
  height: 110px;
  top: 179px;
  left: 820px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
}
.blockquote2 {
  width: 129px;
  height: 32px;
  top: 130px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.34px;
  text-align: left;
  position: absolute;
}

.bottom-menu-company {
  width: 155px;
  height: 353px;
  top: 100px;
  left: 34%;
  gap: 50px;
  opacity: 0px;
  display: grid;
  position: absolute;
}
.title-menu{
  width: 91px;
  height: 29px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
}
.menu1 {
  width: 155px;
  height: 274px;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.bottom-menu-products {
  width: 97px;
  height: 269px;
  top: 100px;
  left: 13.5%;
  gap: 50px;
  display: grid;
  position: absolute;
}
.title-menu1{
  width: 84px;
  height: 29px;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
}
.menu-products {
  width: 97px;
  height: 190px;
  gap: 20px;
  opacity: 0px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
  flex-direction: column;
}
/* бургер меню */
.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  top: 32px;
  left: -5px;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: black;
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-5px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header__burger-btn span:nth-child(4) {
  transform: translateY(5px);
}

.header.open .header__burger-btn span {
  background-color: hsla(29, 48%, 31%, 1);
  ;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(4) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}


@media (max-width: 768px) {
  .header__burger-btn {
    display: block;
  }

  .burger {
    position: relative;
    border: none;
    background: transparent;
    width: 10px;
    height: 26px;
    display: block;
    width: 40px;
  }

  .menu {
    width: 360px;
    height: 691px;
    top: 106px;
    left: -434px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px 20px 20px;
    z-index: 1;
  }

  .icons {
    width: 360px;
    height: 60px;
    top: 631px;
    gap: 0px;
    opacity: 0px;
  }

  .menu-list {
    display: block;
    width: 71px;
    height: 265px;
    top: 60px;
    left: 145px;
    gap: 30px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
  }

  .nav-Black,
  .nav-Green,
  .nav-White,
  .nav-Oolong,
  .nav-Puer {
    color: black;
    font-size: 21px;
    display: block;
    padding: 10px 0;
    width: 71px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    text-align: center;
  }
  hr{
    width: 300px;
    height: 2px;
    top: 385px;
    left: 30px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    background: hsla(37, 45%, 94%, 1);
  }
  .sub-menu-our {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    width: 127px;
    height: 124px;
    top: 447px;
    left: 117px;
    gap: 35px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
  }
  .data1 {
    width: 360px;
    height: 60px;
    top: 631px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: hsla(37, 45%, 94%, 1);
    
  }

  ul {
    display: none;
  }

  .header.open .menu {
    transform: translateX(160%);
  }
}
@media (min-width:769px) {
  .data1 {
    display: none;
  }
  .sub-menu-our {
    display: none;
  }
}