@media (max-width: 480px) {
  body {
    width: 480px;
    height: 5562px;
  }
  .container {
    width: 480px;
    height: 5562px;
  }
  .header-top {
    width: 460px;
    height: 56px;
    top: 10px;
    left: 10px;
  }
  .header__burger-btn {
    width: 40px;
    height: 18px;
    top: 15px;
    left: 0px;
  }
  .data {
    width: 100px;
    height: 22px;
    top: 15px;
    left: 350px;
    gap: 20px;
  }
  .search {
    left: 80px;
  }
  .logo {
    width: 39px;
    height: 56px;
    top: 0px;
    left: 200px;
    background-size: cover;
    background-image: url(/images/icons/logo480.svg)
  }

  .text-align {
    width: 480px;
    height: 500px;
    top: 86px;
    background-image: url(/images/Hero480.svg)
  }
  h1 {
    width: 450px;
    height: 96px;
    top: 276px;
    left: 10px;
    font-size: 40px;
    font-weight: 400;
    line-height: 49.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .text-align2 {
    width: 450px;
    height: 58px;
    top: 393px;
    left: 11px;
    font-weight: 300;
    line-height: 28.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .blockquote {
    width: 376px;
    height: 44px;
    top: 636px;
    left: 50px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .rectangle92 {
    width: 118px;
    height: 22px;
    top: 658px;
    left: 226px;
    gap: 0px;
    opacity: 0.5px;
  }
  .explore {
    width: 416px;
    height: 819px;
    top: 740px;
    left: 32px;
    display: grid;
  }
  .reviews1 {
    width: 369px;
    height: 48px;
    top: 30px;
    left: 24px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .tea {
    width: 416px;
    height: 247px;
    top: 20px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
  }
  .testimonials {
    width: 480px;
    height: 588px;
    top: 1630px;
    gap: 0px;
    opacity: 0px;
  }
  .reviews {
    width: 329px;
    height: 48px;
    top: 30px;
    left: 76px;
    gap: 0px;
    opacity: 0px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .frame-item {
    width: 220px;
    height: 213px;
    top: -80px;
    left: -60px;
    gap: 10px;
    position: absolute;
  }
  .comment1 {
    width: 220px;
    height: 176px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .frame-item4 {
    width: 220px;
    height: 147px;
    top: -80px;
    left: 185px;
    gap: 10px;
    opacity: 0px;
    position: absolute;
  }
  .comment4 {
    width: 220px;
    height: 110px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .frame-item3 {
    width: 220px;
    height: 147px;
    top: 150px;
    left: -60px;
    gap: 10px;
    position: absolute;
  }
  .comment3 {
    width: 220px;
    height: 110px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    }
  .frame-item2 {
    width: 220px;
    height: 213px;
    top: 150px;
    left: 185px;
    gap: 10px;
    position: absolute;
  }
  .comment2 {
    width: 220px;
    height: 88px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .Blog {
    width: 460px;
    height: 921px;
    top: 2267px;
    left: 10px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .text-blog1 {
    width: 210px;
    height: 86px;
    top: 0px;
    left: 248px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .frame1 {
    width: 43px;
    height: 18px;
    top: 130px;
    left: 250px;
    gap: 8px;
    opacity: 0px;
  }
  .cards1 {
    width: 100%;
    left: 0px;
  }
  .parent1 {
    left: 250px;
  }
  .table1 {
    width: 230px;
    height: 153px;
    top: 2375px;
    left: 10px;
    background-image: url(/images/стол480.png)
  }
  .cards2 {
    width: 100%;
    left: 0px;
  }
  .parent2 {
    left: 250px;
  }
  .book2 {
    width: 230px;
    height: 153px;
    top: 2741px;
    left: 10px;
    gap: 0px;
    opacity: 0px;
    background-image: url(/images/книга480.png)
  }
  .cards3 {
    width: 100%;
    left: 0px;
  }
  .parent3 {
    left: 250px;
  }
  .photo3 {
    width: 230px;
    height: 153px;
    top: 2741px;
    left: 10px;
    gap: 0px;
    opacity: 0px;
    background-image: url(/images/мч480.png)
  }
  .cards4 {
    width: 100%;
    left: 0px;
  }
  .parent4 {
    left: 250px;
  }
  .kettle4 {
    width: 230px;
    height: 153px;
    top: 2741px;
    left: 10px;
    gap: 0px;
    opacity: 0px;
    background-image: url(/images/чайник480.png)
  }
  .knopka1 {
    left: 160px;
  }
  .main_page {
    width: 480px;
    height: 415px;
    top: 3345px;
  }
  .main-title {
    width: 480px;
    height: 415px;
    top: 3345px;
  }
  .text-main {
    width: 328px;
    height: 48px;
    top: 45px;
    left: 76px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .main_content {
    width: 460px;
    height: 72px;
    top: 140px;
    left: 10px;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .confidentiality {
    width: 460px;
    height: 135px;
    top: 255px;
    left: 10px;
  }
  .knopka2 {
    width: 116px;
    height: 51px;
    top: 0px;
    left: 340px;
    padding: 12px 41px 12px 41px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .confidentiality1 {
    width: 439px;
    height: 72px;
    top: 55px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-size: 13px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .line5 {
  width: 320px;
  top: 50px;
  }
  .chekbokx-email {
    top: 60px;
    left: 5px;
    position: absolute;
  }
  #email {
    top: 10px;
    left: 20px;
  }

  .menu {
    left: -530px;
  }
  .prioriti {
    width: 294px;
    height: 926px;
    top: 3770px;
    left: 88px;
    display: grid;
  }
  .prioriti1 {
    width: 207px;
    height: 48px;
    top: 23px;
    left: 45px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .frame-prioriti1 {
    width: 294px;
    height: 848px;
    top: 77px;
    left: 0px;
    gap: 50px;
    display: flex;
  }
  .group1 {
    width: 248px;
    height: 178px;
    top: 10px;
    left: 10px;
  }
  .group2 {
    width: 257px;
    height: 178px;
    top: 200px;
    left: -280px;
  }
  .group3 {
    width: 294px;
    height: 170px;
    top: 430px;
    left: -600px;
  }
  .group4 {
    width: 253px;
    height: 172.98px;
    top: 635px;
    left: -940px;
  }
  footer {
    width: 480px;
    height: 853px;
    top: 4709px;
    gap: 0px;
  }
  .bottom-menu-products {
    width: 97px;
    height: 249px;
    top: 59px;
    left: 10px;
    gap: 30px;
  }
  .bottom-menu-company {
    width: 155px;
    height: 333px;
    top: 59px;
    left: 240px;
    gap: 30px;
  }
  .bottom-quatation {
    width: 460px;
    height: 92px;
    top: 430px;
    left: 10px;
  }
  .blockquote1 {
    width: 460px;
    height: 66px;
  }
  .blockquote2 {
    width: 298px;
    height: 16px;
    top: 75px;
    left: 0px;
  }
  .bottom-cotacts {
    width: 460px;
    height: 196px;
    top: 560px;
    left: 10px;
    gap: 0px;
    opacity: 0px;
  }
  .bottom1 {
    width: 135px;
    height: 29px;
    top: 0px;
    left: 150px;
  }
  .bottom11 {
    width: 460px;
    height: 36px;
    top: 50px;
    left: 10px;
    text-align: center;
  }
  .bottom-other {
    width: 427px;
    height: 22px;
    top: 820px;
    left: 10px;
  }
  .payment {
    width: 156px;
    height: 20px;
    top: 5px;
    left: 260px;
  }
  .social {
    width: 150px;
    height: 22px;
    top: 155px;
    left: 280px;
  }
  .con1 {
    width: 232px;
    height: 60px;
    top: 140px;
    left: 80px;
    gap: 10px;
    opacity: 0px;
  }
  .logo1 {
    width: 57px;
    height: 91px;
    top: 100px;
    left: 10px;
  }
}

@media (max-width: 481px) {
  .logo480 {
    display: none;
  }
  .text {
    display: none;
  }
  .tea1 {
    display: none;
  }

} 

